@media (max-width: 59em) {
  /* MOBILE NEGEVATION */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 45%;
  }

  .header {
    padding: 0 3.2rem;
  }

  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-about {
    grid-template-columns: 1fr;
  }

  .heading-tretiary {
    font-size: 2.8rem;
    letter-spacing: 0.5px;
  }

  .grid-details {
    grid-template-columns: 1fr;
  }

  .portfolio-card {
    width: 32rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portfolio-text-box {
    padding: 2.4rem;
  }

  .hero-img-box {
    grid-row: 1 / 2;
  }
}
